*{
    margin: 0;
    padding: 0;
}
div.products{
    width: 90%;
    padding: 30px;
    box-sizing: border-box;
    background-color: lightgrey;
    margin: 50px auto;
    box-shadow: 5px 5px 5px black;  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}
div.products>div.product{
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    background-color: darkcyan;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    
}
div.products>div.product>h1{
    text-align: center;
    margin-bottom: 20px;
}
div.products>div.product>h2{
    text-align: center;
    margin-bottom: 20px;
}
div.products>div.product>img{
    width: 100%;
}
div.products>div.product>span{
    display: block;
    width: 150px;
    height: 40px;
    background-color: #2b2b2b;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;
    margin: 10px 10px 10px 0;
    text-transform: capitalize;
    color: greenyellow;
    font-weight: bold;
}
.bgRed{
    background-color: crimson !important;
    color: black !important;
}
